<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>To-Do Homepage</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">To Do</a>
  </nav>
  <div class="card">
    <h2 style="margin: 12px;">Jaemin's To-Do List for Today</h2>
    <table style="table-layout:fixed; margin-bottom: 0;" class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Description</th>
          <th scope="col">Poms</th>
          <th scope="col">Delete Task</th>
          <th scope="col">Complete Task</th>
        </tr>
      </thead>
      <tbody>
        <% for (let taskVar in todo) { %>
          <tr>
            <td class="align-middle"><%= todo[taskVar]["taskName"]  %> </td>
            <td class="align-middle"><%= todo[taskVar]["taskDesc"] %> </td>
            <td class="align-middle"><%= todo[taskVar]["poms"]  %> </td>
            <td class="align-middle"><form action="/<%= taskVar %>/delete" method="POST"><input value="Delete" type="submit" class="btn btn-danger"></form></td>
            <td class="align-middle"><form action="/<%= taskVar %>/complete" method="POST"><input value="Complete" type="submit" class="btn btn-secondary"></form></td>
          </tr>
        <% } %> 
      </tbody>
    </table>
  </div>
  <form style="width: 58.4em; margin: 10px" class="form-inline justify-content-around" action="/" method="POST">
    <input required="required" name="taskName" placeholder="Task Name" style="width: 200px; margin-right: 5.5em" class = "form-control" type="text">
    <input required="required" name="taskDesc" placeholder="Task Description" style="margin-right: 5.5em" class="form-control" type="text">
    <select name="poms" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input value="Add" style="margin-left: auto" type="submit" class="btn btn-primary">
  </form>
  <h2 style="margin: 12px;">Completed Tasks</h2>
  <div class="card">
    <table style="table-layout:fixed; margin-bottom: 0;" class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Description</th>
          <th scope="col">Poms</th>
          <th scope="col">Delete Task</th>
        </tr>
      </thead>
      <tbody>
        <% for (let taskVar in complete) { %>
          <tr style="opacity: 50%;">
            <td class="align-middle"><%= complete[taskVar]["taskName"]  %> </td>
            <td class="align-middle"><%= complete[taskVar]["taskDesc"] %> </td>
            <td class="align-middle"><%= complete[taskVar]["poms"]  %> </td>
            <td class="align-middle"><form action="/<%= taskVar %>/deleteComplete" method="POST"><input value="Delete" type="submit" class="btn btn-danger"></form></td>
          </tr>
        <% } %> 
      </tbody>
    </table>

  </div>
</body>
</html>